.pods-container {
    justify-items: center;
    background: #222222c7;
    padding-block: 1rem;

    .input-container {
                position: relative;
                padding-block: 2em;
                transform: translate(5%);
                
                .inspect-btn, .unit-input {
                    min-height: 2.5rem;
                    padding-inline: .5rem;
                    border: 3px solid var(--clr4);
                    border-radius: 8px;
                    font-size: 1rem;
                }
                .unit-input {
                    font-weight: 500;
                    width: 16em;
                }
                .inspect-btn {
                    position: relative;
                    left: -60px;
                    background: var(--clr1);
                    color: var(--clr0);
                    opacity: .95;
                    cursor: pointer;
                    box-shadow: none;

                }
    } 

    .pods-wrapper {
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        row-gap: 1.5em;
        padding-block: 2em;
        margin-top: -3.5rem;

        .row-name, .pod-container {
            justify-self: center;
        }

        .row-name {
            align-self: end;
            color: var(--clr0);
        }

        .pod-container {
            border-radius: 50%;
            padding: 0.6em; 
        }

        .pod-tooltip-wrapper {
            position: relative;
            display: inline-block;
            justify-self: center;

            .pod-tooltip {
            display: none;
            opacity: 0;
            white-space: nowrap;
            background: var(--clr1);
            color: var(--clr0);
            font-size: .8em;
            border-radius: 8px;
            padding: 0.75em ;
            position: absolute;
            z-index: 10;
            left: 120%;
            bottom: 110%;
            transform: translateX(-50%);
            pointer-events: none;

                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 30%;
                    margin-left: -8px;
                    border-width: 8px;
                    border-style: solid;
                    border-color: #222 transparent transparent transparent;
                }

                .pod-age {
                    margin-bottom: 0;
                }
            }

            &:hover .pod-tooltip,
            &:focus-within .pod-tooltip {
            display: block;
            opacity: 1;
            pointer-events: auto;
            }
        }

    }
}