
// Colors
$clr1: #222222;
$clr2: #6a00f4;
$clr3: #9d4edd;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;
// $clr8: #222;
// $clr9: #717171;
// $clr10: #000000;
// $clr11:#F7F7F7;
// $clr12: #222222;
// $clr13: #e7e2e2;
// $clr14: #ebebeb;
// $clr15: #1b1b1b57;
// $clr16: #DDDDDD;
// $clr17: #969393;
// $clr18:#717171;
// $clr19:#e3e3e3;



$mobile-breakpoint: 500px;

$mobile5-breakpoint:500px;
$mobile4-breakpoint:650px;
$narrow-breakpoint:750px;
$mobile2-breakpoint:1000px;
$narrow2-breakpoint: 1530px;
$normal-breakpoint: 1720px;
$wide-breakpoint: 1760px;

$normal-breakpoint: 1490px;
$for-1030px:1030px;
$tablet-breakpoint:980px;
$for-940px:940px;
$narrow-breakpoint:750px;
$for-633px:633px;
$for-530px: 530px;
$mobile-breakpoint: 450px;
$for-430px: 430px;
$for-370px : 370px;
$for-325px : 325px;
$for-270px : 270px;
$for-245px  : 245px;