.monitor-container {
  grid-column: 1/-1;
  width: 100%;
  min-height: 90vh;
  border: 1em solid #222222;
  border-radius: 8px;
  grid-template-columns: minmax(10px, 2em) 1fr minmax(10px, 2em);
  background: linear-gradient(
    #9c4fb2 0%,
    #d45bc7 10%,
    #fdd4f1 20%,
    #e4bbfb 100%
  );

  .monitor-title {
    grid-column: 2;
    color: #ffffff;
  }
}